CompileFlags:
  # Add R include paths, you might have to locally adjust this, dont push!
  Add:
    - -I/usr/share/R/include
    - -I/usr/include/eigen3
    - -Ilibcmaes/include
    - -Ilibcmaes/build/include

---
# The --- separates documents.
# The following is a new configuration document.
If:
  PathMatch: src/libcmaes/include/.*
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
---
If:
  PathMatch: .*/inst/COPYRIGHTS$
Index:
  Background: Skip
Diagnostics:
  Suppress: "*"
