
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# src build files
src/*.o
src/*.so
src/*.dll
src/Makevars.eigen

# temp R stuff
.Rhistory
/*.Rcheck/
libcmaesr*.tar.gz

# temp stuff in tests
/cpp-tests/test_ipop_max_fevals
/cpp-tests/test_bipop_max_fevals
/benchmarks/registry/
/benchmarks/speed_ml.png
/benchmarks/speed_testfuns.png
