
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# R
src/*.o
src/*.so
src/*.dll
.Rhistory
**/.Rhistory

/cpp-tests/test_ipop_max_fevals
/cpp-tests/test_bipop_max_fevals
/benchmarks/registry
/benchmarks/benchmarks.png
